<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871724395715-j8hm53m90s4u0k0q4tt3vtsb5hsnipus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871724395715-j8hm53m90s4u0k0q4tt3vtsb5hsnipus</string>
	<key>API_KEY</key>
	<string>AIzaSyC62ERQ6wIt5Fm9ACZnOVY0h8J8KSwiSLw</string>
	<key>GCM_SENDER_ID</key>
	<string>871724395715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>main.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-78725</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-78725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871724395715:ios:055d62692340a33c22c676</string>
</dict>
</plist>